/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-card-text);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  justify-self: center;
}

.container {
  inline-size: var(--container-width);
  background-color: var(--bg-color);
  border: solid 2px var(--accent-color);
}

.header {
  inline-size: clamp(23.438rem, 16.197rem + 30.892vw, 44rem);
  font-family: var(--accent-font), fantasy;
  text-align: center;
  padding-block: 120px;
  margin-block: 100px ;
}

.header__logo {
  font-size: var(--font-size-logo);
}

.header__subtitle {
  font-size: var(--font-size-subtitle);
  margin-block-start: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  margin-block-end: 50px;
}

.card__title {
  font-size: 18px;
  line-height: 127%;
  font-variation-settings: "wght" var(--font-weight-card-title);
  padding: 4px 10px 2.3px;
}

.card__image-wrapper {
  inline-size: 100%;
  position: relative;
  border-top: solid 2px var(--accent-color);
  border-bottom: solid 2px var(--accent-color);
  z-index: 1;
  overflow: hidden;
}

.card__label {
  position: absolute;
  font-family: var(--accent-font), fantasy;
  text-shadow:
    1px 1px 0 var(--text-stroke-color),
    -1px 1px 0 var(--text-stroke-color),
    1px -1px 0 var(--text-stroke-color),
    -1px 1px 0 var(--text-stroke-color);
  top: 21px;
  right: 16px;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 8px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color))) {

  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__image {
  inline-size: 100%;
  max-block-size: clamp(23.188rem, 8.679rem + 38.69vw, 43.5rem);
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 0;
}

.card__content {
  padding: 27px 25.5px 25px 25px;
}

.card__text {
  font-size: 18px;
  padding-block-end: 24.61px;
  line-height: 21px;
  letter-spacing: 0;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}


.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.contour {
  transition: fill linear 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.06s;
}

.main-body {
  transition: fill linear 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill linear 0.3s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s;
}
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.5px 37px;
  max-inline-size: 130px;
  max-block-size: 38px;
}

.save__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  margin-block-end: 100px;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  text-wrap: nowrap;
}

.save__button-icon {
  max-inline-size: 28px;
  block-size: auto;
  position: relative;
  z-index: 1;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.dialog[open] {
  padding: 30px 40px 30px 38px;
  min-width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dialog-icon {
  min-inline-size: 39px;
  block-size: auto;
}

.dialog-text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  max-inline-size: 234px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog-button {
  min-inline-size: 261px;
  min-block-size: 38px;
  text-transform: uppercase;
  margin-block-start: 30px;
  padding: 0;
}

.button {
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  line-height: 90%;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::after {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__image-bright {
  filter: brightness(1.2);
}

.card__image-contrast {
  filter: contrast(150%);
}

.card__image-saturate {
  filter: saturate(2);
}

.card__image-grayscale {
  filter: grayscale(100%);
}

.card__image-sepia {
  filter: sepia(80%);
}

.card__image-hue-rotate {
  filter: hue-rotate(90deg);
}

.card__image-blur-bright {
  filter: blur(3px) brightness(1.1);
}

.card__image-invert {
  filter: invert(100%);
}


@media (min-width: 1440px) {

  .header {
    margin-block: 98px 98px;
    padding-block: var(--padding-header);
  }

  .card__title {
    line-height: 100%;
    padding: 6px 10px 5.6px;
  }

  .card__image {
    inline-size: 100%;
    max-block-size: 696px;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
  }

  .card__content {
    padding: 26px 25.6px 25.7px 25px;
  }

  .save__button {
    flex-direction: row;
    white-space: nowrap;

  }

  .save__button-icon {
    min-inline-size: 21px;
  }

  .dialog[open] {
    padding: 30px;
    min-width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  }

  .dialog-button {
    min-inline-size: 293px;
  }
  
}

